/* color variables */



$primary-color: #4CB6D6;
$secondary-color: #43ADAF;
$tertiary-color: #5B080E;
$light-color: #ffffff;
$btn-color: #FAAA4F;
    
/* text	variables */

@font-face {
    font-family: 'Repo ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Repo ExtraBold'), url('Repo-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Repo ExtraBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Repo ExtraBlack'), url('Repo-ExtraBlack.woff') format('woff');
}

$bike-font: Repo ExtraBold, sans-serif;
$hero-text: Repo ExtraBlack, sans-serif;
$h1-text: 2.2rem;
$h2-text: 1.6rem;
$h3-text: 1.4rem;
$h4-text: 18px;


body {
margin:0;
padding:0;
background-color: $primary-color;
font-family: $bike-font;
font-size: 16px;


}
#game-wrapper {
min-width: 375px;
max-width: 600px;
// padding:1rem;
margin:0 auto;
border:1px solid #5B080E;
display: block;
}
.header-area {
color: $light-color;
display: block;
position: relative;
margin-top:.5rem;
padding:0 .5rem;
min-width:300px;
max-width:600px;
h2 {
    text-align: center;
    margin:.25rem;
    font-size: $h3-text;
}
}
.header-area-info{
display: grid;
grid-template-columns: 1fr max-content;
width:100%;

p {
  font-size:14px;
  font-family: $bike-font;
  
}   
}
.text-highlight {
font-size:20px;
letter-spacing: 1.25px;
}
.main-area {
margin:1rem;
padding:0;
display: block;
border: 1px solid $btn-color;
}
.main-area--bike {
width:80%;
height:auto;
margin:0 auto;
padding:10px;
text-align: center;
img {
    width:100%;
}
}

.main-area--parts {
h2{
    text-align: center;
    color: $light-color;
    margin:0 0 1rem 0;
    text-shadow: 1px 1px 1px #FF0000;
}    
}
.bike-part-carousel {
display: block;

li {
    display: inline-block;
    width:100px;
    height:100px; 
    background: $btn-color;
    padding:0;
    margin:0;
}
}
.main-btn {
background:$btn-color;
font-family:$bike-font;
border-radius: 20rem;
padding:.5rem 2rem;
color:$light-color;
text-decoration: none;
font-size: $h2-text;
}

.footer-area-wrapper {
// position: fixed;
// bottom:0;
// left:0;
height: auto;
width:100%;
background: $tertiary-color;
display: grid;
grid-template-columns: max-content 1fr;
align-items: center;
text-align: right;

}

.footer-area--timer {
display:block;
padding:1rem;
margin:1rem;
border-radius: 20rem;
border:4px solid $light-color;
background: $secondary-color;
font-size: $h1-text;
color: $light-color;
}

.footer-area--next {
    margin:1rem;
}

#wrapper {
    position: relative;
    margin: 50px auto;
    width:360px;
    height:300px;
}

@media screen and (min-width: 400px) {
    #wrapper {
        position: relative;
        margin: 50px auto;
        width:390px;
        height:300px;
    }
}


// BIKE FRAME CODE STARTS
.bikeFrame {
display: inline-block;
background-image: url('../img/bikeFramesSprite.svg');
}

.bikeFrame-eBike {
background-position: 360px 0px;
position: absolute;
top:0;
left:0;
height: 280px;
width:360px;
z-index: 2;
}
.bikeFrame-wagon {
background-position: 720px 0px;
position: absolute;
top:0;
left:0;
height: 280px;
width:360px;
z-index: 2;
}
.bikeFrame-loRider {
background-position: 1080px 0px;
position: absolute;
top:0;
left:0;
height: 280px;
width:360px;
z-index: 2;
}
.bikeFrame-Road {
background-position: 1440px 0px;
position: absolute;
top:0;
left:0;
height: 280px;
width:360px;
z-index: 2;
}
.bikeFrame-Tri {
background-position: 1800px 0px;
position: absolute;
top:0;
left:0;
height: 280px;
width: 360px;
z-index: 2;
}
@media screen and (min-width: 400px) {
.bikeFrame {
    display: inline-block;
    background-image: url('../img/bikeFramesXLSprite.svg');
 }

.bikeFrame-eBike {
    background-position: 410px 0px;
    position: absolute;
    top:0;
    left:0;
    height: 183px;
    width:400px;
    z-index: 2;
}
.bikeFrame-wagon {
    background-position: 780px 0;
    position: absolute;
    top:0;
    left:0;
    height: 192px;
    width:390px;
    z-index: 2;
}
.bikeFrame-loRider {
    background-position: 1070px 0px;
    position: absolute;
    top:0;
    left:0;
    height: 183px;
    width:390px;
    z-index: 2;
}
.bikeFrame-Road {
    background-position: 1440px 0px;
    position: absolute;
    top:0;
    left:0;
    height: 183px;
    width:360px;
    z-index: 2;
}
.bikeFrame-Tri {
    background-position: 1800px 0px;
    position: absolute;
    top:0;
    left:0;
    height: 183px;
    width:360px;
    z-index: 2;
}   
}
// BIKE FRAME CODE ENDS

// BIKE SEAT IMPORT 
@import "bikeSeats.scss";

// BIKE HANDLES IMPORT 
@import "bikeHandles.scss";

// BIKE PEDALS IMPORT 
@import "bikePedals.scss";

// BIKE WHEELS IMPORT 
@import "bikeWheels.scss";



.bikeWheels--wagon {
background-position: 720px 0px;
position: absolute;
top:-15px;
left:0;
height: 280px;
width:360px;
z-index:1;
transform: scale(.9, .9);
}
.bikeWheels--loRider {
background-position: 1080px 0px;
position: absolute;
top:-5px;
left:0;
height: 280px;
width:360px;
z-index:1;
}


.bikeHandles {
display: inline-block;
background-image: url('../img/bikeHandlesSprite.svg');
}
.bikeHandles--eBike {
background-position: 37px 0px;
position: absolute;
top: 0;
left: 227px;
height: 75px;
width: 33px;
z-index: 0;
}

.eBikeBuild {
background-image: url('../img/eBikeSm.svg');
width: 350px;
height:350px;
margin:0 auto;
}

.handles {
display: inline-block;
background-image: url('../img/bikeHandles.svg');
}
.handles--eBike {
background-position: 130px 2px;
position: absolute;
width: 48px;
height: 59px;
top: 50px;
left: 144px;
z-index: 20;
}

.handles--triBike {
background-position: 291px 2px;
position: absolute;
width: 158px;
height: 83px;
top: 100px;
left: 125px;
z-index: 20;
}

