* {
    box-sizing: border-box;
    
  }
  svg { height: auto !important; }

/* color variables */

$primary-color: #4CB6D6;
$secondary-color: #0499c5;
$tertiary-color: #79c4c6;
$light-color: #ffffff;
$dark-color: #142C4D;
$btn-color: #FAAA4F;
    
/* text	variables */

@font-face {
    font-family: 'Repo ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Repo ExtraBold'), url('Repo-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Repo ExtraBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Repo ExtraBlack'), url('Repo-ExtraBlack.woff') format('woff');
}

@font-face {
    font-family: 'Repo Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Repo Medium'), url('Repo-Medium.woff') format('woff');
    }

$bike-font: Repo ExtraBold, sans-serif;
$hero-text: Repo ExtraBlack, sans-serif;
$body-text: 'Repo Medium', sans-serif;
$h1-text: 2.2rem;
$h2-text: 1.4rem;
$h3-text: 1rem;
$h4-text: .9rem;

.bikeFont {
    font-family: $bike-font !important;
    color: $light-color;
    text-shadow: 1px 1px 1px $secondary-color;}

.h2-text {
    font-size: $h2-text;
    text-align: center;
    margin:.25rem auto;
}
.h3-text {
    font-size: $h4-text;
    text-align: center;
    margin:0 auto .5rem;
}


/* Main content */

body {
    margin:0;
    padding:0;
    background-image: linear-gradient(45deg, $tertiary-color, $secondary-color, $tertiary-color);
    font-family: $bike-font;
    font-size: 16px;
    height:100vh;
}
#game-wrapper {
    background-image: url('../img/spotlight.svg');
    background-repeat:no-repeat!important;
    background-size: contain;
    min-width: 320px;
    max-width: 600px;
    height:100vh;
    margin:0 auto;
    padding:0 .5rem;
    display: block;
    position: relative;
    border: black solid 1px;
}

.main-btn {
    font-family:$bike-font;
    padding:.5rem 2rem;
    color:$light-color;
    text-decoration: none;
    font-size: $h2-text;
    text-transform: uppercase;
}

.main-btn-footer {
    display: inline-block;
    background-image: url('../img/next-button.svg');
    background-repeat: no-repeat !important;
    width:210px;
    height:50px;
    text-align: center;
    padding:.5rem;
    margin:0 1rem 1rem 0;
// 
    }

.header-area {
    display: block;
    position: relative;
    margin-top:.5rem;     
}

#grid-wrapper {
    display: grid;
    grid-template-rows: 150px 1fr ;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-content: space-between;
    height:100vh;
}

.header-block {
    background-image: url(../img/header-block.svg);
    background-repeat: no-repeat !important;
    background-position: top center;
    background-size:contain;
    width:100%;
    height:auto;
    text-align: center;
    color: $light-color;
    margin:.5rem auto;

    h2 {
        font-size: $h2-text;
        line-height: 1rem;
        padding:2rem 0 0 0;
        margin:0;
        text-shadow: 1px 1px 1px $dark-color;
    }

    h3 {
        font-size: $h4-text;
        line-height: .75rem;
        text-shadow: 1px 1px 1px $dark-color;
    }
}
.sensorTest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:1rem;
    gap:1rem;
    
}

.sensorButtons {
    display: flex;
    border: $light-color 2px solid;
    border-radius: 20px;
    padding:2rem;
    color: $light-color;
    width:100%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:visited {
        text-decoration:none;
        color:$light-color;
    }


}
// .sensorTest {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 1rem;
//     text-align: center;




// }

// .sensorButtons {
//     display: inline-block;
//     border: $light-color 2px solid;
//     padding:2rem;
//     color: $light-color;
//     margin:.5rem;
//     width:42vw;
//     height: 200px;
//     align-items: center;
//     text-align: center;

// }




.headerUser {
    font-size:$h2-text;
}

.headerPoints {
    font-size:$h3-text;
}

.progress {
    fill:#cecece;
    stroke:#fff;
    stroke-width:2.1995;
    stroke-miterlimit:10
}

.progressDone {
    fill:#52bdd7;
    stroke:#9ad5e5;
    stroke-width:2.1995;
    stroke-miterlimit:10
}

.text-area {
    fill: none;
}


.bike-parts-wrapper {
    h2{
        text-align: center;
        color: $light-color;
        margin:0 0 .25rem 0;
        text-shadow: 2px 2px 2px $secondary-color;
    }    
}

.bikePart-carousel {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;


    li {
        display: inline-block;
        margin:.5rem;
        width: 90px;
        height: 90px;
     }
}

#bike-assembly-wrapper {
    position: relative;
    margin: 5px auto;
    width:360px;
    height:260px;
}

@media screen and (min-width: 340px) and (max-width: 390px) {
    #bike-assembly-wrapper {
        position: relative;
        margin: -20px auto 10px ;
        transform: scale(.9, .9);
    }
}

@media screen and (min-width: 300px) and (max-width: 339px) {
    #bike-assembly-wrapper {
        position: relative;
        margin: -30px 0 0 -20px;
        transform: scale(0.70, 0.7);
        text-align: center;
        width: 320px;
        height: 220px;
    }
}

// #bikePrinter {
//    background-image: url(../img/printScreen.svg);
//    background-repeat: no-repeat !important;
//    background-size: contain;
//    width: 100%;
//    height:600px;
//    position: relative;
//    margin: 1rem auto;
//    padding:0;
// }

// .printArm {
//     background-image: url(../img/printArm.svg);
//     background-repeat: no-repeat !important;
//     // background-size: contain;
//     background-position: 360px 0px;
//     position: absolute;
//     width: 60px;
//     height:460px;
//     top:0;
//     left:100px;
// }
// .printHead {
//     background-image: url(../img/printHead.svg);
//     background-repeat: no-repeat !important;
//     position: absolute;
//     width: 360px;
//     height:460px;
//     top:20px;
//     left:100px;
// }

#bikePrinter {
    display: block;
    width: 100%;
    height:auto;
    position: relative;
    margin: 1rem auto;
    padding:0;
    overflow: hidden;
}
.armMoves {
    // transform:translate(1, 6);
    transform: rotate(90);
}
.printArm {
    display: inline-block;
    background-image: url(../img/printArm.svg);
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100px;
    height:560px;
    top:0px;
    left:80px;
}
.printHead {
    background-image: url(../img/printHead.svg);
    background-position: 290px 0 ;
    background-size: cover;
    position: absolute;
    width: 120px;
    height: 560px;
    top:200px;
    left:60px;
}

// BIKE ASSEMBLY IMPORTS START
    // BIKE FRAMES IMPORT 
    @import "bikeFrames.scss";

    // BIKE SEAT IMPORT 
    @import "bikeSeats.scss";

    // BIKE HANDLES IMPORT 
    @import "bikeHandles.scss";

    // BIKE PEDALS IMPORT 
    @import "bikePedals.scss";

    // BIKE WHEELS IMPORT 
    @import "bikeWheels.scss";

// BIKE ASSEMBLY IMPORTS END


.footer-area-wrapper {
    background-image: url('../img/footer-background.svg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat !important;
    position: absolute;
    bottom:0;
    left:0;
    height: 100px;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
   
@media screen and (min-width: 420px) {
    .footer-area-wrapper {
        background-size: cover ;
    }
}
    
.footer-area--timer {
    display:block;
    background-image: url('../img/timer-background.svg');
    height:70px;
    width:70px;
    margin:0 0 .5rem 1rem;
    color:$light-color;
    font-size: $h1-text;
    text-align: center;
    padding-top:10px;

}
@media screen and (max-width: 374px) {
    .footer-area--timer {
        height:60px;
        width:60px;
        font-size: $h2-text;
    }
}

.timer-text {
    font-family:$hero-text;
    font-size: $h2-text;
    color: $light-color;
    text-shadow: 2px 2px 2px #0499c5;
}

.footer-area--next {
    margin:0;
}  

#footer-wrapper {
    position: absolute;
    bottom:0;
    left:0;
    margin:0;
    width:100%;
    padding:0 .5rem;
    vertical-align: bottom;
}

#ticket {
    background-image: url("../img/ticket.svg");
    background-size: contain;
    background-repeat: repeat-y;
    position: absolute;
    top: 120px;
    left: 7vw;
    width: 240px;
    height: auto;
    display: block;
    z-index: 18;
    padding: 0.5rem 2rem;
}
#ticket h2 {
    font-size: 16px;
    border-bottom: 0.5px black solid;
}

#ticket h3 {
    font-size: 14px;
    border-bottom: 0.5px black solid;
}

.ticket-info {
    margin: 0;
    padding: 0;
}

.ticket-item {
    font-family: "Repo Medium", sans-serif;
    list-style: none;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 0.5px #333333 solid;
}

@import "pauseScreen.scss";